{% extends 'test1.html' %}
{% load static %}
<!DOCTYOE html>
<html>
  {% block head %}
      <head> 
           <meta charset="utf-8">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
           <link rel="stylesheet" type="text/css" href="{% static 'department.css' %}">

           <title>소속</title>
      </head>
      {% endblock %}



      <body>
        {% block content %}
           

        
        </div>
      </div>
        </article>
        
           <img width="300px"
           src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDEyMDVfNDQg%2FMDAxNjA3MTQwNjA5MTEz.OkY7atDwCjpwLuh94uDi8mWDvmOWRLTxG7VHQBq-PlIg.xZRxo-5UYiAs6l535mjqEm9_xv92svNW_R0WgT74FpAg.PNG.bb3630%2Finstagram.png&type=sc960_832">
           <h2>yeunever_</h2>
           <a href="https://www.instagram.com/yeunever_/">
           <p>인스타그램 페이지로 이동></a></p>
            <br>
            <img width="300px"
            src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTA1MTlfMjUg%2FMDAxNTU4MjY1NDAyOTM1.32djeKUIJ5Y5sWqR9SuAv0MPRRDFfi-_q3ll8xbzkFkg.Ayv4Mel7oTBbDlh9hQFRuNxYWFTfaoyn6lAzRXywktQg.JPEG.sochun1518%2F1.jpg&type=sc960_832">
            <h2>멋쟁이 사자처럼 10기</h2>
            <a href="https://www.likelion.net/?utm_source=PL&utm_medium=SA&utm_campaign=PL_N_BSA_Ondemand&utm_content=home">
            <p>멋쟁이사자처럼 홈페이지로 이동</a></p>
            <img width="300px" src="https://th.bing.com/th/id/R.2c2e871f3db5a62706e9c188fcbc2102?rik=%2bSNOOUokoIMFAA&riu=http%3a%2f%2fwww.snpo.kr%2fdata%2ffile%2fpartner_fair%2f3542400062_BFnDT2i8_042_E18489E185A5E186BCE18480E185A9E186BCE18492E185ACE18483E185A2E18492E185A1E186A8E18480E185AD_NGOE18483E185A2E18492E185A1E186A8E1848BE185AFE186AB.png&ehk=%2f6mjlNn9t3eEDburHlfnC8kzM%2f5E3Pe0AUniFOLfeK0%3d&risl=&pid=ImgRaw&r=0">
           <h2>성공회대학교 it융합자율학부</h2>
           <a href="http://www.skhu.ac.kr/"><p>성공회대학교 홈페이지로 이동</a></p>
           {% endblock %}

  
           <footer>
            {% block footer %}
            about yeeun page
            {% endblock %}
          </footer>
          <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        </script>

      </body>
</html>